
@{
    ViewBag.Title = "Index";
}

<h2>Configuration</h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseServers">
                    Servers
                </a>
            </h4>
        </div>
        <div id="collapseServers" class="panel-collapse collapse in">
            <div class="panel-body">
                @{Html.RenderAction("_ListServers", "Configuration"); }
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseCategories">
                    Categories
                </a>
            </h4>
        </div>
        <div id="collapseCategories" class="panel-collapse collapse">
            <div class="panel-body">
                @{Html.RenderAction("_ListCategories", "Configuration"); }
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseActivity">
                    Activity Log
                </a>
            </h4>
        </div>
        <div id="collapseActivity" class="panel-collapse collapse">
            <div class="panel-body">
                @{Html.RenderAction("_ListActivity", "Configuration"); }
            </div>
        </div>
    </div>
</div>

