@model IEnumerable<JobManager.Models.ServerConfig>

@{
    ViewBag.Title = "Server Menu";
}


<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="collapse" data-target="#serverlist">Servers</button>

    <br />

    <div id="serverlist" class="collapse">
        <ul class="nav nav-pills nav-stacked" role="tablist">
            @foreach (var item in Model)
            {
                <li class="h3">@Html.ActionLink(item.ServerName, "Summary", "Home", new { dbServer = item.ServerName }, null)</li>
            }
        </ul>
    </div>
</div>
