@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized browser</title>
</head>
<body>
    <div>
        <h3>The application works with Google Chrome only.</h3>
        <a href="https://www.google.co.uk/chrome/browser/desktop/index.html">Download</a>
    </div>
</body>
</html>
