@{
    ViewBag.Title = "Edit Menu";
}

<h3>
    Select a page
</h3>

<br />

<ul class="nav nav-tabs nav-stacked">
    <li>@Html.ActionLink("General", "General", "Edit", new { dbServer = ViewBag.ServerName, jobID = ViewBag.JobID }, null)</li>
    <li>@Html.ActionLink("Steps", "Steps", "Edit", new { dbServer = ViewBag.ServerName, jobID = ViewBag.JobID }, null)</li>
    <li>@Html.ActionLink("Schedules", "Schedules", "Edit", new { dbServer = ViewBag.ServerName, jobID = ViewBag.JobID }, null)</li>
</ul>