
@model List<JobManager.Models.IServers>

<h3>
    Servers:
</h3>

<br />

<ul class="nav nav-tabs nav-stacked">
    @foreach (JobManager.Models.IServers item in Model)
    {
        <li>@Html.ActionLink(item.ServerName, "Summary", "Schedule", new { dbServer = item.ServerName }, null)</li>
    }
</ul>