@model IEnumerable<JobManager.Models.ServerConfig>

@{
    ViewBag.Title = "Server Menu";
}

<h3>
    Servers:
</h3>

<br />

<ul class="nav nav-tabs nav-stacked">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.ServerName, "Index", "Schedule", new { dbServer = item.ServerName }, null)</li>
    }
</ul>