
@{
    ViewBag.Title = "Job Summary";
}

@using GridMvc.Html;
@using GridMvc.Sorting;
@using JobManager.Models;

@section LeftMenu{
    @{Html.RenderAction("_LeftMenu", "Home");
    }
}

@model List<JobSummary>

<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

<div>
    <h3>Job Summary</h3>
</div>


<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
{
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(JobSummary => RenderStartButton(JobSummary));
    columns.Add(JobSummary => JobSummary.ServerName)
    .Titled("Server Name")
    .Sortable(true)
    .Filterable(false);
    columns.Add(JobSummary => JobSummary.JobName)
    .Titled("Job Name")
    .Sortable(true)
    .SortInitialDirection(GridSortDirection.Ascending)
    .Filterable(false);
    columns.Add(JobSummary => JobSummary.Enabled)
    .Titled("Enabled")
    .Filterable(false)
    .RenderValueAs(JobSummary => RenderEnabled(JobSummary));
    columns.Add(JobSummary => JobSummary.Status)
    .Titled("Status")
    .Sortable(true)
    .Filterable(false);
    columns.Add(JobSummary => JobSummary.LastOutcome)
    .Titled("Last Outcome")
    .Sortable(true)
    .Filterable(false);
    columns.Add(JobSummary => JobSummary.LastRun)
    .Titled("Last Run")
    .Sortable(true)
    .Filterable(false);
    columns.Add(JobSummary => JobSummary.NextRun)
    .Titled("Next Run")
    .Sortable(true)
    .Filterable(false);
    columns.Add(JobSummary => JobSummary.Category)
    .Titled("Category")
    .Sortable(true)
    .Filterable(true);
    columns.Add(JobSummary => JobSummary.Runable)
    .Titled("Runable")
    .Filterable(true)
    .RenderValueAs(JobSummary => RenderRunable(JobSummary));
    columns.Add(JobSummary => JobSummary.Scheduled)
    .Titled("Scheduled")
    .Filterable(true)
    .RenderValueAs(JobSummary => RenderScheduled(JobSummary));
}).WithPaging(25)
</div>

@helper RenderEnabled (JobSummary jobs)
    {
if (jobs.Enabled)
{
        <text>Yes</text>
}
else
{<text>No</text>}
}
}

@helper RenderScheduled(JobSummary jobs)
{
if (jobs.Scheduled)
{
        <text>Yes</text>
}
else
{<text>No</text>}
}
}

@helper RenderRunable(JobSummary jobs)
{
if (jobs.Runable)
{
        <text>Yes</text>
}
else
{<text>No</text>}
}
}

@helper RenderStartButton(JobSummary jobs)
{
if (jobs.Runable && jobs.Status == "Idle")
{
    @Html.ActionLink("Start Job", "StartJob", "",
        new
        {
            dbServer = jobs.ServerName,
            jobID = jobs.JobID
        },
        new { @class = "btn btn-success" });
}
else
{<text></text>}
}
}
